$bar-color: #90CAF9 !default;
$bar-stroke: #8D99A6 !default;
$border-color: #e0e0e0 !default;
$light-bg: #f5f5f5 !default;
$light-border-color: #ebeff2 !default;
$light-green: #b9f6ca !default;
$text-muted: #666 !default;
$text-light: #555 !default;
$text-color: #333 !default;
$bar-progress: #1976d2 !default;
$handle-color: #ddd !default;

.gantt {
	flex: none;

	.grid-background {
		fill: none;
	}
	.grid-header {
		fill: #ffffff;
		stroke: $border-color;
		stroke-width: 1.5;
	}
	.grid-row {
		fill: #ffffff;
	}
	.grid-row:nth-child(even) {
		fill: $light-bg;
	}
	.row-line {
		stroke: $light-border-color;
	}
	.tick {
		stroke: $border-color;
		stroke-width: 1;
		&.thick {
			stroke-width: 2;
		}
	}
	.today-highlight {
		fill: $light-green;
		opacity: 0.5;
	}
	.arrow {
		fill: none;
		stroke: $text-muted;
		stroke-width: 1.4;
	}
	.bar {
		fill: $bar-color;
		//stroke: $bar-stroke;
		stroke: $bar-progress;
		stroke-width: 1;
		transition: stroke-width .3s ease;
		user-select: none;
	}
	.bar-progress {
		fill: $bar-progress;
		stroke: none;
	}
	.bar-invalid {
		fill: transparent;
		stroke: $bar-stroke;
		stroke-width: 1;
		stroke-dasharray: 5;

		&~.bar-label {
			fill: $text-light;
		}
	}
	.bar-label {
		fill: #fff;
		fill: rgba(0, 0, 0, 0.87);
		dominant-baseline: central;
		text-anchor: middle;
		font-size: 0.75rem;
		font-weight: normal;
		stroke: none;

		&.big {
			fill: $text-light;
			text-anchor: start;
		}
	}
	.handle {
		fill: $handle-color;
		cursor: ew-resize;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s ease;
	}
	.bar-wrapper {
		cursor: pointer;
		outline: none;

		&:hover {
			.bar {
				fill: darken($bar-color, 10);
			}
			.bar-progress {
				fill: darken($bar-progress, 10);
			}
			.handle {
				visibility: visible;
				opacity: 1;
			}
		}
		&.active {
			.bar {
				fill: darken($bar-color, 10);

			}
			.bar-progress {
				fill: darken($bar-progress, 10);
			}
		}
	}
	.lower-text, .upper-text {
		fill: rgba(0, 0, 0, 0.6);
		font-weight: bold;
		font-size: 0.75rem;
	}
	.upper-text {
		text-anchor: middle;
	}
	.lower-text {
		text-anchor: start;
	}
	.hide {
		display: none;
	}
}

.gantt-container {
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	overflow: auto;
	font-size: 0.875rem;
	max-height: 70vh;

	.table-head-row {
		color: rgba(0, 0, 0, 0.6);
		font-weight: bold;
		font-size: 0.75rem;
	}
	table {
		background-color: #ffffff;
		border: 1.5px solid $border-color;
		border-top: none;
		border-collapse: collapse;
		flex:none;
		left: 0;
		position: sticky;
		z-index: 1;
	}
	.table-head-row {
		background-color: $border-color;
		position: sticky;
		top: 0;
	}
	.table-data {
		border-bottom: 0.2px solid $light-border-color;
		border-top: 0.2px solid $light-border-color;
		padding: 0 10px;
	}
	.table-row:nth-child(odd) {
		background-color: $light-bg;
	}
	.popup-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		background: $bar-progress;
		padding: 0;
		color: #dfe2e5;
		border-radius: 3px;
		min-width: 300px;

		.title {
			border-bottom: 3px solid $bar-color;
			padding: 10px;
		}
		.subtitle {
			padding: 10px;
			color: #dfe2e5;
		}
		.pointer {
			position: absolute;
			height: 5px;
			margin: 0 0 0 -5px;
			border: 5px solid transparent;
			border-top-color: rgba(0, 0, 0, 0.8);
		}
	}
}
